<!DOCTYPE html>
<html lang="en-US">
<head>
      {{ $style := resources.Get "styles/custom.scss" | resources.ToCSS | resources.Minify }}
      <meta charset="UTF-8"/>

      {{- partial "favicons.html" . -}}

      <meta property="og:title" content="{{.Title}}" />
      <meta property="og:image" content="{{.Site.BaseURL}}/images/og-image.png" />
      <meta property="og:description" content="{{.Site.Params.description}}">
      <meta property="og:url" content="{{.Site.BaseURL}}">

      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:title" content="{{.Title}}" />
      <meta property="twitter:image" content="{{.Site.BaseURL}}/images/og-image.png" />
      <meta property="twitter:description" content="{{.Site.Params.description}}">
      <meta property="twitter:url" content="{{.Site.BaseURL}}">

      <link rel="stylesheet" href="{{ $style.Permalink }}">
      <script src="https://kit.fontawesome.com/33643e3040.js"></script>
</head>
<body>
