<div class="banner">
  {{ with .Site.Params.info}}
  <div class="banner-content">
    <div>
      <p></p>
      <p class="text-small"><span class="mr-3 fas fa-calendar-alt"></span>{{.date.start}} – {{.date.end}}</p>
      <p class="text-small"><span class="mr-3 fas fa-clock"></span>{{.date.time_start}}</p>
    </div>
    <hr>
    <p>{{ $.Site.Params.full_title }}</p>
    <hr>
    <p>Location: <strong>{{ .location.building }}</strong></p>
    <p>{{ .location.city }}</p>
  </div>
  {{ end }}
</div>
