<div class="banner-content">
    <p class="h1 mb-3">Center for Computation & Visualization Conference</p>
    <hr class="bg-secondary">
    <p class="text-small"><span class="mr-3 fas fa-calendar-alt text-secondary"></span>{{.date.start}} – {{.date.end}}, {{.date.year}}</p>
    <p class="text-small"><span class="mr-3 fas fa-clock text-secondary"></span>{{.date.time_start}}</p>
    <p><span class="mr-3 fas fa-map-marker-alt text-secondary"></span><strong>{{ .location.building }}</strong></p>
    <p class="note">{{.note | markdownify}}</p>
</div>
