.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: 'Circular-Book';
  background-color: $ttl2;
  background-image: linear-gradient(to top left, $ttl2, #101b26);
}

.hero-container {
  justify-content: center;
  align-items: center;
}

.hero-center {
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: $ttl2;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $ttl3;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.display {
  font-size: 20rem;
  font-family: 'cheap-pine', sans-serif !important;
  color: $yellow;
}

.suffix {
  color: $yellow;
  font-size: 19rem;
}

.subtitle {
  color: $ttl3;
  text-shadow: 5px 5px 1px $ttl1;
  font-family: voltage, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

.left {
  font-family: 'aurea-ultra', serif !important;
  line-height: 2.4rem;
  p:first-of-type {
    font-size: 4rem;
  }
  p:nth-of-type(2n) {
    font-size: 1.6rem;
  }
  align-items: center;
}


.right {
  p:first-of-type {
    font-size: 1.8rem;
    font-family: 'aurea-ultra', serif !important;  }
  p:nth-of-type(2n) {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  p:nth-of-type(3n) {
    line-height: 1.2rem;
    font-size: 1rem;
  }
}

.left, .right {
  padding: 1rem;
}
