.App {
  text-align: center;
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Circular-Book';
  background-color: #2E2E40;
}

.hero-container {
  justify-content: center;
  align-items: center;
}

.hero-center {
  justify-content: center;
  align-items: center;
}

.hero-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  letter-spacing: 2rem;
  padding-top: 2rem;
  color: #F2AD85;
}

.display {
  font-size: 20rem;
  font-family: 'cheap-pine', sans-serif !important;
  color: $yellow;

}

.subtitle {
  color: #F2CF8D;
  text-shadow: 5px 5px 1px #8C5E66;
  font-family: voltage, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}
