.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: 'Circular-Book';
  background-color: $ttl2;
  background-image: linear-gradient(to top left, $ttl2, #101b26);
}

.hero-container {
  justify-content: center;
  align-items: center;
}

.hero-center {
  justify-content: center;
  align-items: center;
}

.display {
  padding-top: 10rem;
  font-size: $base-font-size * 16;
  font-family: 'cheap-pine', sans-serif !important;
  color: $ttl3;
}

.suffix {
  color: $ttl3;
  font-size: $base-font-size * 15;
}

.subtitle {
  color: $ttl4;
  text-shadow: 5px 5px 1px $ttl1;
  font-family: voltage, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}
