.logos {
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  svg {
    margin: 2rem;
    fill: $ttl1;
    height: 5rem;
  }
}

#ccv-logo {
  stroke: $ttl1;
}
