@import url("https://use.typekit.net/yqc7ztc.css");

.fa-layers-text {
  color: $ttl2;
}

.h1 {
  color: $ttl5;
}

.fa-color-5 {
  color: $ttl5;
}

h1, h2, h3 {
  color: $ttl4;
  font-size: $base-font-size * 3;
}

h4, h5, ul, li  {
  color: $ttl1;
  list-style-type: none;
}

.text-coral{
  color: $ttl5;
}

a {
  color: $ttl5 !important;
}

.contact {
  font-size: 2rem;
}

@media only screen and (min-device-width: 768px) {
  .small {
    font-size: 1.4rem;
  }
}
